body {
  font-size: 1.4vw;
}
h1 {
  text-align: center;
  font-size: 4vw;
}
.container {
  /* background-color: antiquewhite; */
  display: grid;
  margin: auto;
  text-align: center;
  max-width: 650px;
  grid-template-areas:
    "scores"
    "choices"
    "choices";
  min-height: 15vh;
}
/* Display Score part */
.score {
  grid-area: scores;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "computer . player"
    "computerS . playerS";
  margin-bottom: 2.5vh;
}
#computerScore {
  font-size: 8vw;
  background-color: burlywood;
  grid-area: computerS;
  border-radius: 30%;
}
#playerScore {
  font-size: 8vw;
  background-color: burlywood;
  grid-area: playerS;
  border-radius: 30%;
}
#computerName {
  grid-area: computer;
  border: 0.05vw solid royalblue;
  border-radius: 10px;
  margin-bottom: 0.9vh;
}
#playerName {
  grid-area: player;
  border: 0.05vw solid royalblue;
  border-radius: 10px;
  margin-bottom: 0.9vh;
}
/* clickable section (game play) */
.choice {
  grid-area: choices;
  display: grid;
  grid-template-areas: "rock paper scissors";
  grid-auto-columns: 10vw;
  justify-content: space-around;
}

#paper {
  grid-area: paper;
  height: 3vh;
  font-size: 1vw;
}
#rock {
  grid-area: rock;
  height: 3vh;
  font-size: 1vw;
}
#scissors {
  grid-area: scissors;
  height: 3vh;
  font-size: 1vw;
}
